.item {
  position       : relative;
  display        : flex;
  flex-direction : row;
  width          : 100%;
  margin-top     : 0.5rem;
  margin-bottom  : 0.5rem;

  &:hover {
    .removeWrapper {
      opacity : 1;
    }
  }

  &.done {
    .content {
      text-decoration : line-through;
      opacity         : 0.667;
    }

    .deadlineWrapper {
      cursor : default;
    }
  }

  &.disabled {
    cursor         : default;
    pointer-events : none;
    opacity        : 0.5;
  }

  .body {
    display         : flex;
    flex-grow       : 1;
    justify-content : flex-start;
    max-width       : 92%;
    text-align      : left;

    > * {
      vertical-align : top;
    }
  }

  span.content {
    display       : inline-block;
    overflow      : hidden;
    max-width     : 80%;
    white-space   : nowrap;
    text-overflow : ellipsis;
  }

  .content {
    font-size    : 1.25em;
    margin-right : 0.25rem;
    margin-left  : 0.25rem;
    text-align   : left;
  }

  .checkboxWrapper {
    line-height : 25px;

    label {
      margin-right : 0.5rem;
    }

    .checkbox {
      margin-bottom : 0 !important;
    }
  }

  .deadlineWrapper {
    margin-left : 1rem;
  }

  .removeWrapper {
    margin-left : 1rem;
    transition  : opacity 300ms;
    opacity     : 0.25;
  }
}