.item {
  display         : flex;
  align-content   : center;
  flex-direction  : row;
  justify-content : center;
  width           : 100%;
  margin-top      : 0.5rem;
  margin-bottom   : 0.5rem;

  &:hover {
    .removeWrapper {
      opacity : 1;
    }
  }

  &.done {
    .content {
      text-decoration : line-through;
      opacity         : 0.667;
    }
  }

  &.disabled {
    cursor         : default;
    pointer-events : none;
    opacity        : 0.5;
  }

  .body {
    flex-grow  : 1;
    text-align : start;

    > * {
      vertical-align : top;
    }
  }

  span.content {
    display      : inline-block;
    margin-top   : 1px;
    margin-right : 2px;
  }

  .content {
    font-size     : 1.25em;
    padding-right : 0.25rem;
    padding-left  : 0.25rem;
    transition    : opacity 400ms;
    text-align    : left;
  }

  .checkboxWrapper {
    line-height : 25px;

    label {
      margin-right : 0.5rem;
    }

    .checkbox {
      margin-bottom : 0 !important;
    }
  }

  .deadlineWrapper {
    margin-left : 1rem;
  }

  .removeWrapper {
    margin-left : 1rem;
    transition  : opacity 300ms;
    opacity     : 0.25;
  }
}