.item {
  display        : flex;
  flex-direction : row;
  width          : 100%;

  &.done {
    text-decoration : line-through;
    opacity         : 0.667;
  }

  span.content {
    margin-top : 1px;
  }

  .content {
    font-size     : 1.25em;
    padding-right : 0.25rem;
    padding-left  : 0.25rem;
    text-align    : left;
  }

  .checkboxWrapper {
    line-height : 24px;

    label {
      margin-right : 0.5rem;
    }

    .checkbox {
      margin-bottom : 0 !important;
    }
  }
}